$color_default_text: #000;

$color_accent: #dee0e2;

$color_form_borders: #bbb;

$color_1: rgba(7, 32, 67, 0.80); // main blue
$color_2: #ff6170; // pink
$color_3: #666777; // light blue
$color_4: #6a4282; // purple
$color_default_text: #555555;
$color_background: #fff;
$color_borders: #ccc;

$border_color_1: #bfc1c3;
$border_color_2: #f8f8f8;
