$mobile: 480px;
$tablet: 600px;
$desktop: 960px;
$super_desktop: 1020px;

$heading_fontstack: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
$para_fontstack: Helvetica, Arial, "Nimbus Sans L", "Liberation Sans", sans-serif;
$code_fontstack: Monaco, Menlo,'Courier New',Courier,monospace;
$font_base: 16px;
$font_base_line_height: 24px;

$margin_default: 1.5em;

$height_nav: 50px;

