extends layout/layout

block vars
  - pageTitle = "Test page"
  - bodyClass = "test"


block content
  h2 Get started by making this look like your first page!
  p Rename this page, the route in server.js and don't forget to update the index file :)